//TO%
@function prc($pxOne, $pxTwo) {
    $result: ($pxOne/$pxTwo)*100%;
    @return $result;
}

//REM
@function rem($px) {
    $result: ($px/16)+rem;
    @return $result;
}

//EM
@function em($px) {
    $result: ($px/16)+em;
    @return $result;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

.frame {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 3px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: rgb(70, 61, 122);
    overflow: hidden;
}

.sync,
.upload,
.done {
    width: 60px;
    height: 60px;

    path {
        fill: #666;
    }
}

.card {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 250px;
    background-color: rgb(239, 240, 255);
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid gray;
    }

    .bar {
        position: absolute;
        height: 2px;
        width: 100%;
        top: 49px;
        left: 0;
        transition: all 3s ease-out;
        transform: scaleX(0);
        transform-origin: 0 0;
        background-color: green;

        &.active {
            transform: scaleX(1) translate3d(0, 0, 0);
        }
    }

    .dropzone {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        width: 150px;
        height: 100px;
        top: 86px;
        left: 65px;
        border: 1px dashed #A4A4A4;
        border-radius: 3px;
        text-align: center;
        overflow: hidden;

        &.is-dragover {
            border-color: #666;
            background: #eee;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
        }

        .filename {
            position: absolute;
            display: block;
            color: #666;
            font-size: rem(14);
            line-height: rem(18);
            overflow: hidden;
        }
    }

    .upload-btn {
        position: absolute;
        width: max-content;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        background-color: #0d8d43;
        border-radius: 3px;
        color: #e7e7e7;
        cursor: pointer;
        transition: all .3s;
        border: none;

        &:hover {
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
        }
    }

    .sync {
        position: absolute;
        top: 107px;
        left: 280/2 - 30 + px;
        opacity: 0;

        &.active {
            animation: syncing 3s ease-in-out;
        }
    }

    .done {
        position: absolute;
        top: 107px;
        left: 280/2 - 30 + px;
        opacity: 0;

        &.active {
            animation: done .5s ease-in 3.2s;
            animation-fill-mode: both;
        }
    }
}



@keyframes syncing {
    0% {
        transform: rotate(0deg);

    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: rotate(-360deg);
        opacity: 0;
    }
}

@keyframes done {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}