$circle-color: #123456;
$button-color: #654321;
$back-color: #606f70;
$done-color: rgb(1, 77, 1);

.content {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: $back-color;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: $circle-color;
    border-radius: 50%;
    top: 70px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    border: none;
    background: $button-color;
    border-radius: 100px;
    padding: 15px 0;
    color: #fff;
    width: 180px;
    cursor: pointer;
    transition: all .5s;
}

.letter {
    position: absolute;
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    transition: 1s ease-in-out;
    transform: scale(.5, .4);

    &.hide {
        stroke-dashoffset: 400;
        transition: 1s ease-in-out;
    }
}

.airplane {
    @extend .letter;
    stroke-dashoffset: 400;
    opacity: 0;

    &.show {
        stroke-dashoffset: 0;
        opacity: 1;
        transition: 1s ease-in-out 1s;
        animation: airplane 1s ease-in-out 2s;
        animation-fill-mode: both;
    }
}

.send {
    &.active {
        animation: send-btn 2s ease-in-out;
        animation-fill-mode: both;
    }
}

.reset {
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    background: $done-color;

    &.active {
        opacity: 1;
        transition: all 1s 2.5s ease-in-out;
        pointer-events: all;
    }
}

@keyframes send-btn {
    0% {
        transform: translateX(-50%) scale(1);
    }

    30% {
        width: 180px;
        background: $done-color;
        color: transparent;
    }

    50%,
    60% {
        width: 45px;
        transform: translateX(-50%) scale(1);
    }

    70% {
        transform: translateX(-50%) scale(1.1);
    }

    100% {
        transform: translateX(-50%) scale(0);
        background: $done-color;
        color: transparent;
        width: 45px;
    }
}

@keyframes airplane {
    from {
        transform: translate(0, 0) scale(.5, .4);
        opacity: 1;
    }

    to {
        transform: translate(100px, -100px) scale(.2, .1);
        opacity: 0;
    }
}