.content {
  width: 400px;
  height: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: #606f70;
  overflow: hidden;
}

.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #123456;
  border-radius: 50%;
  top: 70px;
  left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  border: none;
  background: #654321;
  border-radius: 100px;
  padding: 15px 0;
  color: #fff;
  width: 180px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.letter, .airplane {
  position: absolute;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: scale(0.5, 0.4);
          transform: scale(0.5, 0.4);
}

.letter.hide, .hide.airplane {
  stroke-dashoffset: 400;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.airplane {
  stroke-dashoffset: 400;
  opacity: 0;
}

.airplane.show {
  stroke-dashoffset: 0;
  opacity: 1;
  -webkit-transition: 1s ease-in-out 1s;
  transition: 1s ease-in-out 1s;
  -webkit-animation: airplane 1s ease-in-out 2s;
          animation: airplane 1s ease-in-out 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.send.active {
  -webkit-animation: send-btn 2s ease-in-out;
          animation: send-btn 2s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.reset {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  background: #014d01;
}

.reset.active {
  opacity: 1;
  -webkit-transition: all 1s 2.5s ease-in-out;
  transition: all 1s 2.5s ease-in-out;
  pointer-events: all;
}

@-webkit-keyframes send-btn {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  30% {
    width: 180px;
    background: #014d01;
    color: transparent;
  }
  50%,
  60% {
    width: 45px;
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  70% {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
    background: #014d01;
    color: transparent;
    width: 45px;
  }
}

@keyframes send-btn {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  30% {
    width: 180px;
    background: #014d01;
    color: transparent;
  }
  50%,
  60% {
    width: 45px;
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  70% {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
    background: #014d01;
    color: transparent;
    width: 45px;
  }
}

@-webkit-keyframes airplane {
  from {
    -webkit-transform: translate(0, 0) scale(0.5, 0.4);
            transform: translate(0, 0) scale(0.5, 0.4);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(100px, -100px) scale(0.2, 0.1);
            transform: translate(100px, -100px) scale(0.2, 0.1);
    opacity: 0;
  }
}

@keyframes airplane {
  from {
    -webkit-transform: translate(0, 0) scale(0.5, 0.4);
            transform: translate(0, 0) scale(0.5, 0.4);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(100px, -100px) scale(0.2, 0.1);
            transform: translate(100px, -100px) scale(0.2, 0.1);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */